body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
}

header {
  background-color: #00695c;
  color: white;
  padding: 15px;
  text-align: center;
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 15px;
  background-color: white;
  border: 1px solid #ccc;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #00695c;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}

input[type="submit"]:hover {
  background-color: #004d40;
}

nav {
  text-align: center;
  margin-top: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #00695c;
}

footer {
  background-color: #00695c;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

p {
  text-align: center;
}
.logo-container {
  text-align: center; /* Centraliza a imagem */
  margin-top: 20px;
}

.logo {
  max-width: 200px; /* Limita o tamanho da logo */
  height: auto; /* Mantém proporção */
}